<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Our Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding>
  <!-- List of Text Items -->
  <ion-list >
    <ion-item color="danger" href="">
      <ion-label>Bundu Khan Bakers</ion-label>
    </ion-item>
    <ion-item color="danger" href="" style="margin-top: 15px;">
      <ion-label>Bundu Khan Lahore</ion-label>
    </ion-item>
    <ion-item color="danger" href="" style="margin-top: 15px;">
      <ion-label>Bundu Khan Multan</ion-label>
    </ion-item>
    <ion-item color="danger" href="" style="margin-top: 15px;">
      <ion-label>Balochi Saji</ion-label>
    </ion-item>
  </ion-list>
</ion-content>