<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
        <ion-header>
            <ion-toolbar color="danger">
                <ion-title>
                    Menu
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content color="danger">
            <ion-list style="background: var(--ion-color-base)">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appMenu" >
                  <ion-item   [routerDirection]="'root'" [routerLink]="[p.url]" color="danger">
                      <ion-icon name="{{p.icon}}"></ion-icon>&nbsp;&nbsp;
                      <ion-label>{{p.title}}</ion-label>
                  </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
</ion-app>

