<ion-header>
    <ion-toolbar color="danger">
      <ion-title>profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-grid>
      <ion-row size-sm>
        <ion-col size="2" style="background-color: rgba(255, 0, 0, 0.486)" class="padding1">
          <ion-icon name="person" color="light" item-start></ion-icon>
        </ion-col>
        <ion-col size="10" style="background-color: rgba(201, 192, 192, 0.486); padding: 18px">
          Faisal
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="background-color: rgba(255, 0, 0, 0.486)" class="padding1">
          <ion-icon name="mail" color="light" item-start></ion-icon>
        </ion-col>
        <ion-col size="10" style="background-color: rgba(201, 192, 192, 0.486); padding: 18px">
          Faisal@yahoo.com
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="background-color: rgba(255, 0, 0, 0.486)" class="padding1">
          <ion-icon name="phone-portrait" color="light" item-start></ion-icon>
        </ion-col>
        <ion-col size="10" style="background-color: rgba(201, 192, 192, 0.486); padding: 18px">
          3331231231
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="background-color: rgba(255, 0, 0, 0.486)" class="padding1">
          <ion-icon name="call" color="light" item-start></ion-icon>
        </ion-col>
        <ion-col size="10" style="background-color: rgba(201, 192, 192, 0.486); padding: 18px">
          0511231231
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="background-color: rgba(255, 0, 0, 0.486)" class="padding1">
          <ion-icon name="pizza" color="light" item-start></ion-icon>
        </ion-col>
        <ion-col size="10" style="background-color: rgba(201, 192, 192, 0.486); padding: 18px">
          1990/10/10
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="background-color: rgba(255, 0, 0, 0.486)" class="padding1">
          <ion-icon name="pin" color="light" item-start></ion-icon>
        </ion-col>
        <ion-col size="10" style="background-color: rgba(201, 192, 192, 0.486); padding: 18px">
          Islambad
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
  
    <ion-button expand="full" color="danger" (click)="login()">Sign Out</ion-button>
  
  </ion-content>