

  <ion-header>
   <ion-toolbar color="danger">
    <!-- <ion-icon slot="start" name="locate"></ion-icon> -->
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
     <b>Bundu Khan</b>
  </ion-title>
  <ion-icon slot="end" name="contact"></ion-icon>
  </ion-toolbar> 
 
</ion-header> 

<ion-content padding>  
    <ion-grid>
        <ion-row>
            <ion-col col-md-4>
                <ion-card class="card" style="background-color: #dfd9d994;">
                    <ion-card-content class="card_content">
                      <ion-img class="card_img" src="assets/img/spoon-fork.jpg" ></ion-img>
                     <div class="text_Div">
                     <p class="smallText" style="color: white;">ORDER NOW</p>
                     <p class="largText" style="color: red;">OUR MENU</p>
                    </div>
                   </ion-card-content>
                  </ion-card>
            </ion-col>
          <ion-col col-md-4>
              <ion-card class="card" style="background-color: #f4f4029e;">
                  <ion-card-content class="card_content">
                   <ion-img class="card_img" src="assets/img/clock.png" ></ion-img>
                   <div class="text_Div">
                   <p class="smallText" style="color: white;">RESERVE TABLE</p>
                   <p class="largText" style="font-size: 12px;color:black;">RESERVATION</p>
                  </div>
                 </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-md-4>
                <ion-card class="card" style="background-color: #08c5d8d4;">
                    <ion-card-content class="card_content">
                      <ion-img class="card_img" src="assets/img/deal.png" ></ion-img>
                     <div class="text_Div">
                     <p class="smallText" style="color: white;">DEALS AND PROMOTIONS</p>
                     <p class="largText" style="color: yellow;">OUR DEALS</p>
                    </div>
                   </ion-card-content>
                  </ion-card>
            </ion-col>
          <ion-col col-md-4>
              <ion-card class="card" style="background-color: #f40288cf;">
                  <ion-card-content class="card_content">
                   <ion-img class="card_img" src="assets/img/location.png" ></ion-img>
                   <div class="text_Div">
                   <p class="smallText" style="color: white;">NEAREST BUNDU KHAN</p>
                   <p class="largText" style="font-size: 12px;color:black;">LOCATIONS</p>
                  </div>
                 </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-md-4>
                <ion-card class="card" style="background-color: #dfd9d994;">
                    <ion-card-content class="card_content">
                      <ion-img class="card_img" src="assets/img/basket.jpg" ></ion-img>
                     <div class="text_Div">
                     <p class="smallText" style="color: white;">ORDER LIST</p>
                     <p class="largText" style="color: #f8d214;">MY BASKET  </p>
                    </div>
                   </ion-card-content>
                  </ion-card>
            </ion-col>
          <ion-col col-md-4>
              <ion-card class="card" style="background-color: #413e3ead;">
                  <ion-card-content class="card_content">
                   <ion-img class="card_img" src="assets/img/feedback.png" ></ion-img>
                   <div class="text_Div">
                   <p class="smallText" style="color: white;">HOW WAS IT?</p>
                   <p class="largText" style="font-size: 12px;color:#f40288cf;">FEEDBACK</p>
                  </div>
                 </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>
      
</ion-content> 
